In [1]:
import numpy as np
import pandas as pd

df=pd.read_csv('Shoe_prices.csv')
df.head()

,Brand,Model,Type,Gender,Size,Color,Material,Price (USD)
0,Nike,Air Jordan 1,Basketball,Men,US 10,Red/Black,Leather,$170.00
1,Adidas,Ultra Boost 21,Running,Men,US 9.5,Black,Primeknit,$180.00
2,Reebok,Classic Leather,Casual,Men,US 11,White,Leather,$75.00
3,Converse,Chuck Taylor,Casual,Women,US 8,Navy,Canvas,$55.00
4,Puma,Future Rider,Lifestyle,Women,US 7.5,Pink,Mesh,$80.00

In [2]:
df.isnull().sum()

Brand          0
Model          0
Type           0
Gender         0
Size           0
Color          0
Material       0
Price (USD)    0
dtype: int64

In [3]:
df.shape

(1006, 8)

In [4]:
df['Brand'].value_counts()

Brand
Nike           118
Adidas         100
Reebok         100
Converse       100
Puma           100
Vans           100
New Balance    100
Asics          100
Fila            99
Skechers        89
Name: count, dtype: int64

In [5]:
# 確認鞋類型號獨一無二
len(df['Model'])==len(df)

True

In [6]:
df=df.drop(columns=['Model'])
df.head()

      Brand        Type Gender    Size      Color   Material Price (USD)
0      Nike  Basketball    Men   US 10  Red/Black    Leather    $170.00
1    Adidas     Running    Men  US 9.5      Black  Primeknit    $180.00
2    Reebok      Casual    Men   US 11      White    Leather     $75.00
3  Converse      Casual  Women    US 8       Navy     Canvas     $55.00
4      Puma   Lifestyle  Women  US 7.5       Pink       Mesh     $80.00

In [7]:
df['Type'].value_counts()

Type
Running           332
Casual            243
Skate             100
Fashion            86
Lifestyle          76
Basketball         52
Walking            46
Training           34
Crossfit           11
Trail               6
Weightlifting       4
Slides              3
Trail Running       3
CrossFit            3
Retro               3
Hiking              2
Cross-training      1
Racing              1
Name: count, dtype: int64

In [8]:
df['Gender'].value_counts()

Gender
Men      535
Women    471
Name: count, dtype: int64

In [9]:
df['Size'].value_counts()

Size
US 8.5     132
US 9       127
US 9.5     117
US 7.5     106
US 10      100
US 8        93
US 11       89
US 7        81
US 10.5     49
US 6.5      43
US 12       31
US 11.5     20
US 6        18
Name: count, dtype: int64

In [10]:
df['Color'].value_counts()

Color
Black              178
White              139
Grey               101
Black/White        100
Pink                64
                  ...
Khaki                1
Black/Blue           1
Grey/Purple          1
Yellow/Black         1
Collegiate Navy      1
Name: count, Length: 82, dtype: int64

In [11]:
df['Material'].value_counts()

Material
Mesh                    308
Leather                 168
Canvas                  147
Primeknit                68
Leather/Synthetic        47
Synthetic                46
Mesh/Synthetic           36
Suede/Mesh               32
Suede/Canvas             29
Suede                    19
Flyknit                  17
Knit                     15
Nylon                    13
Canvas/Suede              9
Synthetic/Mesh            7
Suede/Leather             6
Synthetic/Leather         6
Suede/Nylon               5
Flexweave                 4
Leather/Suede             3
Nylon/Suede               3
Suede/Textile             3
Knit/Synthetic            3
Synthetic/Textile         2
Textile/Leather           1
Canvas/Leather            1
Flexweave/Knit            1
Mesh/Leather              1
Primeknit/Synthetic       1
Leather/Mesh              1
Textile                   1
Flexweave/Cushioning      1
Flexweave/Synthetic       1
Mesh/Suede                1
Name: count, dtype: int64

In [12]:
def dct_maker(column):
    new_dict={}
    item=df[column].unique()
    count=0
    for i in list(item):
        new_dict[i]=count
        count+=1
    return new_dict

In [13]:
# 迴圈處理data字典與編碼
new_df=pd.DataFrame()
dct_lst={}
for col in list(df.columns)[:len(df.columns)-1]:
    dct=dct_maker(col)
    new_df[col]=df[col].map(dct)
    dct_lst[col]=dct
new_df.head()

   Brand  Type  Gender  Size  Color  Material
0      0     0       0     0      0         0
1      1     1       0     1      1         1
2      2     2       0     2      2         0
3      3     2       1     3      3         2
4      4     3       1     4      4         3

In [14]:
# 處理原始列表的 $
df['Price (USD)'] = df['Price (USD)'].str.replace('$', '', regex=False)
df.head()

      Brand        Type Gender    Size      Color   Material Price (USD)
0      Nike  Basketball    Men   US 10  Red/Black    Leather     170.00
1    Adidas     Running    Men  US 9.5      Black  Primeknit     180.00
2    Reebok      Casual    Men   US 11      White    Leather      75.00
3  Converse      Casual  Women    US 8       Navy     Canvas      55.00
4      Puma   Lifestyle  Women  US 7.5       Pink       Mesh      80.00

In [15]:
# 決策樹回歸
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split, GridSearchCV

x=df.drop(columns=['Price (USD)'])
y=df['Price (USD)']
encoded_x=pd.get_dummies(x)
encoded_x.head()

,Brand_Adidas,Brand_Asics,Brand_Converse,Brand_Fila,Brand_New Balance,Brand_Nike,Brand_Puma,Brand_Reebok,Brand_Skechers,Brand_Vans,...,Material_Suede/Leather,Material_Suede/Mesh,Material_Suede/Nylon,Material_Suede/Textile,Material_Synthetic,Material_Synthetic/Leather,Material_Synthetic/Mesh,Material_Synthetic/Textile,Material_Textile,Material_Textile/Leather
0,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
# 數據分隔
train_x, test_x, train_y, test_y=train_test_split(encoded_x, y, test_size=0.2, random_state=87)

In [23]:
# 決策樹回歸模型
model = DecisionTreeRegressor(random_state=7)

In [24]:
# 最佳化參數搜尋
param_grid = {
    'criterion': ['squared_error', 'absolute_error'],  # loss
    'max_depth': [i for i in range(1,31)],  # 最大深度
    'min_samples_split': [i for i in range(1,11)],  # 
    'min_samples_leaf': [1,2,3,4,5]  # 叶节点最少样本数
}

# 最佳化參數
grid_search=GridSearchCV(estimator=model, 
                         param_grid=param_grid, 
                         cv=5, scoring='neg_mean_squared_error', 
                         n_jobs=1)

# 開始訓練
grid_search.fit(train_x, train_y)

# 輸出結果
print("最佳參數:", grid_search.best_params_)
print("best負均方誤差:", grid_search.best_score_)

C:\Users\william\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py:547: FitFailedWarning:
1500 fits failed out of a total of 15000.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
1500 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\william\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\william\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "C:\Users\william\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\william\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'min_samples_split' parameter of DecisionTreeRegressor must be an int in the range [2, inf) or a float in the range (0.0, 1.0]. Got 1 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\william\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [           nan -1080.45656996 -1080.45656996 ...  -597.31747902
  -597.31747902  -597.31747902]
  warnings.warn(

最佳參數: {'criterion': 'absolute_error', 'max_depth': 16, 'min_samples_leaf': 1, 'min_samples_split': 8}
best負均方誤差: -394.52525658385093

In [28]:
from sklearn.metrics import mean_squared_error, r2_score
# 使用最佳參數進行預測
best_model=grid_search.best_estimator_
pred_y=best_model.predict(test_x)

# 評估模型
mse=mean_squared_error(test_y, pred_y)
r2=r2_score(test_y, pred_y)

print(f'測試集mse: {mse}')
print(f'測試集r2: {r2}')

測試集mse: 541.4913366336634
測試集r2: 0.7037399872351495

In [31]:
# 可視化tree
from sklearn.tree import export_graphviz
import graphviz
from pydotplus import graph_from_dot_data

# 導出圖片
dot_data = export_graphviz(best_model, out_file=None, 
                           feature_names=encoded_x.columns,  
                           filled=True, rounded=True,  
                           special_characters=True)  

# 使用 graphviz渲染圖片
graph=graphviz.Source(dot_data)

In [32]:
# 保存模型
import joblib
joblib.dump(best_model, 'decision_tree_model.pkl')

['decision_tree_model.pkl']

In [33]:
# 輸出testdata圖片
graph = graph_from_dot_data(dot_data)
graph.write_png("decision_tree.png")  # 将图形保存为 PNG 文件

True

資料調用區

In [56]:
f_lst=['Brand','Size', 'Gender', 'Type', 'Color', 'Material']

def pred(data):
    if len(data) != 6:
        return 'error!'

    # 建立全為false空表單
    false_df=pd.DataFrame(columns=encoded_x.columns)
    false_df.loc[0]=[False] * len(encoded_x.columns)
    # 轉換資料
    for i in range(len(data)):
        col=f_lst[i]+"_"+data[i]
        false_df[col]=True
    # 預測資料
    result=best_model.predict(false_df)
    return result
test_data=['Nike','US 8.5','Men','Basketball','Red/Black','Leather']
a=pred(test_data)
a

array([170.])

In [19]:
for i in (encoded_x.columns):
    i='"'+i+'"'
    print(i,end=",")

"Brand_Adidas","Brand_Asics","Brand_Converse","Brand_Fila","Brand_New Balance","Brand_Nike","Brand_Puma","Brand_Reebok","Brand_Skechers","Brand_Vans","Type_Basketball","Type_Casual","Type_Cross-training","Type_CrossFit","Type_Crossfit","Type_Fashion","Type_Hiking","Type_Lifestyle","Type_Racing","Type_Retro","Type_Running","Type_Skate","Type_Slides","Type_Trail","Type_Trail Running","Type_Training","Type_Walking","Type_Weightlifting","Gender_Men","Gender_Women","Size_US 10","Size_US 10.5","Size_US 11","Size_US 11.5","Size_US 12","Size_US 6","Size_US 6.5","Size_US 7","Size_US 7.5","Size_US 8","Size_US 8.5","Size_US 9","Size_US 9.5","Color_Beige","Color_Black","Color_Black/Blue","Color_Black/Gold","Color_Black/Gold/Red","Color_Black/Green","Color_Black/Grey","Color_Black/Gum","Color_Black/Pink","Color_Black/Red","Color_Black/White","Color_Black/White Checkerboard","Color_Black/Yellow","Color_Blue","Color_Blue/Black","Color_Blue/Green","Color_Blue/Orange","Color_Blue/Pink","Color_Blue/Red","Color_Blue/White","Color_Blue/Yellow","Color_Brown","Color_Burgundy","Color_Charcoal","Color_Checkerboard","Color_Checkerboard Black/White","Color_Checkered","Color_Cinder","Color_Clay Brown","Color_Cloud White","Color_Collegiate Navy","Color_Cream","Color_Cream White","Color_Egret","Color_Egret/Black","Color_Green","Color_Green/Black","Color_Green/Orange","Color_Green/White","Color_Grey","Color_Grey/Black","Color_Grey/Green","Color_Grey/Orange","Color_Grey/Pink","Color_Grey/Purple","Color_Grey/White","Color_Grey/Yellow","Color_Ivory","Color_Khaki","Color_Multi-color","Color_Natural","Color_Natural Ivory","Color_Navy","Color_Navy/Red","Color_Navy/White","Color_Orange","Color_Pink","Color_Pink/Black","Color_Pink/White","Color_Purple","Color_Red","Color_Red/Black","Color_Red/White","Color_Silver","Color_Silver/White","Color_Sunflower","Color_True White","Color_White","Color_White/Black","Color_White/Blue","Color_White/Gold","Color_White/Green","Color_White/Grey","Color_White/Navy","Color_White/Navy/Red","Color_White/Pink","Color_White/Red","Color_White/Red/Blue","Color_White/Red/Navy","Color_Yellow","Color_Yellow/Black","Color_Zebra","Material_Canvas","Material_Canvas/Leather","Material_Canvas/Suede","Material_Flexweave","Material_Flexweave/Cushioning","Material_Flexweave/Knit","Material_Flexweave/Synthetic","Material_Flyknit","Material_Knit","Material_Knit/Synthetic","Material_Leather","Material_Leather/Mesh","Material_Leather/Suede","Material_Leather/Synthetic","Material_Mesh","Material_Mesh/Leather","Material_Mesh/Suede","Material_Mesh/Synthetic","Material_Nylon","Material_Nylon/Suede","Material_Primeknit","Material_Primeknit/Synthetic","Material_Suede","Material_Suede/Canvas","Material_Suede/Leather","Material_Suede/Mesh","Material_Suede/Nylon","Material_Suede/Textile","Material_Synthetic","Material_Synthetic/Leather","Material_Synthetic/Mesh","Material_Synthetic/Textile","Material_Textile","Material_Textile/Leather",

In [20]:
print(f_lst)

NameError: name 'f_lst' is not defined